{% extends "base.html" %}
{% load humanize %}
   <!-- <title>Player</title> -->
{% block content %}
<link href= "{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">

  <h2>{{ player.name }}</h2>

<table class="table table-striped">
    <tr>
      <th>Number</th>
      <th>Year</th>
      <th>Position</th>
      <th>Height</th>
      <th>Weight</th>
    </tr>
    <tr>
      <td>{{ player.number }}</td>
      <td>{{ player.year }}</td>
      <td>{{ player.position }}</td>
      <td>{{ player.height }}</td>
      <td>{{ player.weight }}</td>
    </tr>
    
    <tr>
      <th>Games Played</th>
      <th>Points Per Game</th>
      <th>Steals Per Game</th>
      <th>Rebounds Per Game</th>
      <th>Free Throws Per Game</th>
    </tr>
    <tr>
      <td>{{ player.games_played }}</td>
      <td>{{ player.PPG }}</td>
      <td>{{ player.SPG }}</td>
      <td>{{ player.RPG }}</td>
      <td>{{ player.FTP }}</td>
    </tr>

</table>


{% endblock %}    


