{% extends "base.html" %}
{% load humanize %}
   <!-- <title>Player</title>
    <link href="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet">
-->
{% block content %}
  <h2>All Players</h2>

    <ul>
        {% for player in players %}
        <li><a href="{{ player.id }}">{{ player.name }} | {{ player.number }}</a></li>
        {% endfor %}
    </ul>

<div class ="pagination">
    <span class="step-links">
        {% if players.has_previous %}    
            <a href="?page={{ players.previous_page_number }}">previous<</a>
        {% endif %}

    <span class="current">
        Page {{ players.number }} of {{players.paginator.num_pages }}.
    </span>
    
        {% if players.has_next %}
            <a href="?page= {{players.next_page_number }}">next</a>
        {% endif %}
{% endblock %}
    </span>
</div>