<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <title>Basketball!</title>
    <link href="{{ Static_URL }} css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
    {% block content %}
    
    We love that Basketball!
    
    {% endblock %}
    
    <script src="//ajax.google.apis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{Static_URL }} js/bootstrap.min.js"></script>
</body>
</html>
